html{
    font-family: Verdana;
    font-size: 10px;
}

.title_card{
    margin: 0%;
    width: 100%;
    background-color: #CB0000;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}


#container{
    border: 1px solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0%;
    justify-content: center;
    min-width: 40rem;
}

.register_div{
    
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.form_data{
    padding: 1rem;
    margin-left: 5rem;
}


